<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>GIGA_chat</title>
</head>
<body>
    <div>
      <h1>
        GIGA_chat
      </h1>
      <p>
        Для того чтобы пользоваться чатом нужно зарегистрироваться.
      </p>
    </div>
    <div>
      <img src="../static/gigachad.png">
    </div>
    <div>
  <form method="post">
  <button name="enter" value="1">вход</button>
</form>
<form method="post" >
  <button name="reg" value="1">регистрация</button>
</form>
  <p>
    p.s на сайте нет дизайнера так что...
  </p>
</div>
</body>
</html>
